---
title: kz.gl BETA
layout: default
---
<script type="text/javascript" src="/assets/js/global.js?{{site.time | date: '%s%N'}}"></script>
<div class="content-wrap">

    <div class="accordion" id="accordion-times">
        {% capture inner %}
            <div class="content-wrap" id="top-1-container" style="text-align: left"></div>
        {% endcapture %}
        {% include collapse.html parent-id="accordion-times" id="top-1" title="Recent Global World Records" status="show" content=inner %}

        {% capture inner2 %}
            <div class="content-wrap" id="top-20-container" style="text-align: left"></div>
        {% endcapture %}
        {% include collapse.html parent-id="accordion-times" id="top-20" title="Recent Top 20 World Records" content=inner2 %}

        {% capture inner3 %}
            <div class="content-wrap" id="top-100-container" style="text-align: left"></div>
        {% endcapture %}
        {% include collapse.html parent-id="accordion-times" id="top-100" title="Recent Top 100 World Records" content=inner3 %}
    </div>
</div>
