---
title: kz.gl BETA
layout: default
---
<div class="content-no-wrap">
    <script type="text/javascript" src="/assets/js/jumpstats.js"></script>
    <div class="accordion" id="accordion-times">
        {% capture inner %}
        <div class="content-no-wrap">
            <div class="inputSelection">
                <div class="innerSelection">
                    <input type="radio" id="globalBindRadio" name="globalBind" value="binded">Binded
                    <input type="radio" id="globalNobindRadio" name="globalBind" value="unbinded">No
                    Bind
                    <input type="radio" id="globalBothRadio" name="globalBind" value="both" checked>Both
                </div>
                <div class="innerSelection">
                    <input type="radio" id="globalLongjumpRadio" name="globalJumpstat" value="longjump" checked>Longjump
                    <input type="radio" id="globalBhopRadio" name="globalJumpstat" value="bhop">Bunnyhop
                    <input type="radio" id="globalMultihopRadio" name="globalJumpstat" value="multihop">Multihop
                    <input type="radio" id="globalWeirdjumpRadio" name="globalJumpstat" value="weirdjump">Weirdjump
                    <input type="radio" id="globalDropbhopRadio" name="globalJumpstat" value="dropbhop">Dropbhop
                    <input type="radio" id="globalLadderjumpRadio" name="globalJumpstat" value="ladder">Ladder
                    <input type="radio" id="globalCountjumpRadio" name="globalJumpstat" value="countjump">Countjump
                </div>
                <div class="innerSelection">
                    <input type="button" style="width: 150px" id="globalJumpstatsButton" value="Fetch Stats" />
                </div>

                    <span style="visibility: hidden;" id="jumpstat-tip">Only <a style="color: red !important;" href="/assets/json/jumpstats_whitelist.json">whitelisted players</a> are allowed for the Top 5. Click on a player's name. If they
                        don't have any map times, chances are the stat is not legit.</span>
                <div id="globalJumpstatsContainer">
                    <table class="global-table" id="jumpstatTable"></table>
                </div>
            </div>
        </div>
        {% endcapture %}
        {% include collapse.html parent-id="accordion-times" id="global-jumpstats" title="Global Top Jumpstats"  content=inner%}
        {% capture inner2 %}
        <div class="content-no-wrap">
                {% include steamid.html searchtip="Enter your SteamID" buttontext="Fetch Stats"%}
            <div class="inputSelection">
                <div class="innerSelection">
                    <input type="radio" id="bindRadio" name="bind" value="binded">Binded
                    <input type="radio" id="nobindRadio" name="bind" value="unbinded">No Bind
                    <input type="radio" id="bothRadio" name="bind" value="both" checked>Both
                </div>
                <div class="innerSelection">
                    <input type="radio" id="longjumpRadio" name="jumpstat" value="longjump" checked>Longjump
                    <input type="radio" id="bhopRadio" name="jumpstat" value="bhop">Bunnyhop
                    <input type="radio" id="multihopRadio" name="jumpstat" value="multihop">Multihop
                    <input type="radio" id="weirdjumpRadio" name="jumpstat" value="weirdjump">Weirdjump
                    <input type="radio" id="dropbhopRadio" name="jumpstat" value="dropbhop">Dropbhop
                    <input type="radio" id="ladderjumpRadio" name="jumpstat" value="ladder">Ladder
                    <input type="radio" id="countjumpRadio" name="jumpstat" value="countjump">Countjump
                </div>
                <div id="localJumpstatsContainer">
                    <table class="local-table" id="jumpstatTable"></table>
                </div>
            </div>
        </div>
        {% endcapture %}
        {% include collapse.html parent-id="accordion-times" id="personal-jumpstats" title="Your Top Jumpstats" status="show" content=inner2 %}
    </div>
</div>
