<nav>
  <ul>
    {% for item in site.data.navigation %}<li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"
        {% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    <div style="padding-top: .7em"><input type="text" style="background-color:lightgrey; color: black; height: 1.5em"
        id="steamid-persistent-input" oninput="rememberSteamID()" steamID" value="Enter Your SteamID"><br>
      <input id='steamid-persistent-checkbox' type="checkbox" checked><span style="color:white">Remember this SteamID</span></div>
  </ul>
</nav>

<script>
  let loadedSteamID = localStorage.getItem('STEAMID-PERSISTENT');
  if(loadedSteamID !== null && isValidSteamID(loadedSteamID)){
    $('#steamid-persistent-input').val(loadedSteamID);

  }
  function rememberSteamID() {

    let curSteamID = $('#steamid-persistent-input').val();
    let curSteamIDChecked = $('#steamid-persistent-checkbox').is(':checked');

    if(isValidSteamID(curSteamID) && curSteamIDChecked){
      localStorage.setItem('STEAMID-PERSISTENT', curSteamID);
    }
  }
</script>
