<nav>
  <ul>
    {% for item in site.data.navigation %}<li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"
        {% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    <div style="padding-top: .7em"><input type="text" style="background-color:lightgrey; color: black; height: 1.5em; "
        id="steamid-persistent-input" oninput="updateCheckPersistentSteamID()" value="Enter Your SteamID"><br>
      <input id='steamid-persistent-checkbox' type="checkbox"><span style="color:white">Remember this
        SteamID</span></div>
  </ul>
</nav>

<script>
  const $steamIDPersistentCheckbox = $('#steamid-persistent-checkbox');
  const $steamIDPersistentInput = $('#steamid-persistent-input');


  function useSteamIDPersistent() {
    return localStorage.getItem(USE_STEAMID_PERSISTENT) !== null &&
      localStorage.getItem(USE_STEAMID_PERSISTENT) == "true";

  }

  function persistentSteamIDExists() {
    //dont check if isvalidSteamID(), juse fill in whatever the user put in the input field
    return localStorage.getItem(STEAMID_PERSISTENT) !== null;
  }

  $steamIDPersistentCheckbox.change(function () {
    let stillUse = $steamIDPersistentCheckbox.is(':checked')
    localStorage.setItem(USE_STEAMID_PERSISTENT, stillUse);

    if (!stillUse) {
      localStorage.removeItem(STEAMID_PERSISTENT);
    }
  });

  function updateCheckPersistentSteamID() {
    //dont check if isvalidSteamID(), juse fill in whatever the user put in the input field
    let curSteamID = $steamIDPersistentInput.val();
    if (useSteamIDPersistent()) {
      localStorage.setItem(STEAMID_PERSISTENT, curSteamID);
    }
  }

  (function loadPersistentSteamIDTopBar() {

    if (useSteamIDPersistent()) {
      $steamIDPersistentCheckbox.prop('checked', true);
      if (persistentSteamIDExists) {
        $steamIDPersistentInput.val(localStorage.getItem(STEAMID_PERSISTENT));
      }
    } else {
      localStorage.removeItem(STEAMID_PERSISTENT);
    }

    if (!persistentSteamIDExists()) {
      $steamIDPersistentInput.val("Enter Your SteamID");
    }
  })();
</script>