<nav>
  <ul>
    {% for item in site.data.navigation %}<li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"
        {% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    <div style="padding-top: .7em"><input type="text" style="background-color:lightgrey; color: black; height: 1.5em"
        id="steamid-persistent-input" oninput="checkPersistentSteamID()" steamID" value="Enter Your SteamID"><br>
      <input id='steamid-persistent-checkbox' type="checkbox" checked><span style="color:white">Remember this
        SteamID</span></div>
  </ul>
</nav>

<script>
  loadPersistentSteamID($('#steamid-persistent-input'));

  $('#steamid-persistent-checkbox').change(function(){
    loadPersistentSteamID();

  });


  function checkPersistentSteamID(){
    loadPersistentSteamID();

  }

</script>