
<div class="table-tips" id="{{ include.id }}" style="display: none !important">
    {% if include.text == "default" %}
        Tip: Click on any column to sort. Right click to hide. Type <b>:</b>  in the time filter to see only finished maps, or <b>/</b> to see only unfinished maps. <br>
    {% else if include.text =="maps-only" %} 
		Tip: Click on any column to sort. Right click to hide. You can filter for a specific tier by typing in the filter bar.
    {% else %}
    {{ include.text }}
    {% endif %}
</div>