
<div class="table-tips" id="{{ include.id }}" style="display: none !important">
    {% if include.text == "default" %}
    <b>Tip: </b>Click on any map to go to the map info page. <br>Hold <b>ctrl/cmd</b> to sort by multiple columns. Type <b>/</b> in the time filter to see only unfinished times. Type <b>:</b> to see only finished times.
    {% else if include.text =="maps-only" %} 
		Tip: Click on any column to sort. Right click to hide. You can filter for a specific tier by typing in the filter bar.
    {% else %}
    {{ include.text }}
    {% endif %}
</div>